@model LMS1.ViewModels.ClassList

@{
    ViewData["Title"] = "List of users";
}

<h4>List of Students in <br>Course: <b> @Model.CourseName </b></h4>
@*<h2>@Model.CourseName</h2>*@
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @item
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Courses" asp-action="Details" asp-route-id="@Model.CourseId">Back to course</a>
</div>