
@{
    ViewData["Title"] = "AddFile";
}

<h1>Add File to Activity</h1>

<form method="post" enctype="multipart/form-data" asp-controller="CourseActivities" asp-action="AddFile">
    <input type="hidden" name="ModuleId" value="@ViewBag.ActivityId" />
    <div class="form-group">
        <p>Give the file a descriptive name</p>
        <input type="text" name="InternalName" />
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Save">
        </div>
    </div>
</form>
