

<br>
<h1 class="text-danger">Only one submission is allowed.</h1>
<br>
<h5>You can remove the existing submission to make room for a new one.</h5>
<br>

<a asp-action="DetailsForStudent" asp-route-id="@ViewBag.ActivityId">Back to Activity</a>

