
@{
    ViewData["Title"] = "AddFile";
}

<h1>Add File to Course</h1>

<form method="post" enctype="multipart/form-data" asp-controller="CourseActivities" asp-action="UploadExercise2">
    <input type="hidden" name="activityId" value="@ViewBag.ActivityId" />
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload your exercise result using this form:</p>
            <input type="file" name="files">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Save">
        </div>
    </div>
</form>
